body {
     font-family: 'Helvetica-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 300;
     color: #3d455c;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}


/* this is styling for the search bar in the database table*/
#example_filter input {
        border-radius: 12px;
}
